<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class:"fs-2"  %></br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, class:"fs-2"  %></br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rating, class:"fs-2"  %></br>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :playTime, class:"fs-2" %></br>
    <%= form.number_field :playTime %>
  </div>

  <div class="actions">
    <%= form.submit class:"text-light btn btn-lg btn-success"%>
  </div>
<% end %>
