<p id="notice"><%= notice %></p>

<p class="fs-3">
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p class="fs-3">
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p class="fs-3">
  <strong>Rating:</strong>
  <%= @game.rating %>
</p>

<p class="fs-3">
  <strong>Playtime:</strong>
  <%= @game.playTime %>
</p>

<td><%= link_to 'Edit', edit_game_path(@game), class:"text-light btn btn-lg btn-success" %></td> |
<td><%= link_to 'Back', games_path, class:"text-light btn btn-lg btn-success" %></td>